.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct_info {
  padding-left: 20px;
}

.checkoutProduct_info > button {
  background-color: #b796db;
  border: 1px solid;
  margin-top: 10px;
  border-color: #51dafb #984885 #a5a5f3;
}

.checkoutProduct_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct_title {
  font-size: 18px;
  font-weight: 800;
}

.checkoutProduct_rating {
  display: flex;
}
